/* Slideshow CSS */
.imgslideshow {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 25px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  pointer-events: none;
}

.active {
  opacity: 1;
}

.dots {
  text-align: center;
  position: absolute;
  bottom: 50px;
  width: 100%;
  z-index: 3;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--primary-bg-color-opaque2);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease-in-out;
}

.active-dot {
  background-color: var(--primary-bg-color-opaque1);
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.hidden-button {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
}

.hidden-button.left {
  left: 0;
}

.hidden-button.right {
  right: 0;
}
.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-bg-color-opaque1);
  box-shadow: 0 4px 30px var(--shadows);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-bg-color-opaque2);
  color: var(--text-color);
  padding: 10px 15px;
  transition: opacity 0.5s ease-in-out;
}
