/* Dark Mode Variables */
:root {
  --accent-color1: #fa4032;
  --accent-color2: #fa812f;
  --accent-color3: #fab12f;
  --accent-color4: #fef3e2;
  --primary-bg-color: #121212;
  --primary-bg-color-opaque1: #121212cc;
  --primary-bg-color-opaque2: #12121240;
  --secondary-bg-color: #212121;
  --secondary-bg-color-opaque1: #212121cc;
  --secondary-bg-color-opaque2: #21212140;
  --tertiary-bg-color: #444444;
  --tertiary-bg-color-opaque1: #444444cc;
  --tertiary-bg-color-opaque2: #44444440;
  --text-color: #eeeeee;
  --shadows: #00000040;
  --highlights: #fbf7f580;
}

/* Light Mode Variables */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color1: #fa4032;
    --accent-color2: #fa812f;
    --accent-color3: #fab12f;
    --accent-color4: #fef3e2;
    --primary-bg-color: #fbf7f5;
    --primary-bg-color-opaque1: #fbf7f5cc;
    --primary-bg-color-opaque2: #fbf7f540;
    --secondary-bg-color: #f0f0f0;
    --secondary-bg-color-opaque1: #f0f0f0cc;
    --secondary-bg-color-opaque2: #f0f0f040;
    --text-color: #333333;
    --shadows: #cccccc40;
    --highlights: #00000080;
  }
}

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Local Font Fallbacks */
@font-face {
  font-family: "Montserrat";
  src: url("/ttf/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Montserrat";
  src: url("/ttf/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: fallback;
}

body {
  margin: 0px 0px 15px 0px;
  background-color: var(--accent-color1);
  font-family: Montserrat, sans-serif;
  font-optical-sizing: auto;
  font-size: 12pt;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  color: var(--text-color);
  font-weight: 600;
}

h2 {
  color: var(--text-color);
  font-weight: 600;
}

p a {
  color: var(--text-color);
  font-weight: 400;
}

ul {
  list-style-type: "- "; /* Adds a dash as the bullet */
  padding-left: 1em; /* Adjust as needed */
  margin: 0;
}

pb {
  color: var(--text-color);
  font-size: 13pt;
  font-weight: 700;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: var(--text-color);
  text-decoration: underline;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: var(--secondary-bg-color-opaque1);
  box-shadow: 0 4px 30px var(--shadows);
  backdrop-filter: blur(5px);
  border: 1px solid var(--primary-bg-color-opaque2);
  z-index: 10;
}

.navbar a {
  width: 100%;
  float: right;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  font-weight: 400;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--primary-bg-color);
  background: var(--highlights);
  backdrop-filter: brightness(10) opacity(0.5);
  transition: bottom 0.1s ease-in-out;
  pointer-events: none;
}

span.icon {
  display: none;
}
span.text {
  display: inline-block;
}

@media (max-width: 800px) {
  span.icon {
    display: inline-block;
  }
  span.text {
    display: none;
  }
}

.navbar .icon svg {
  width: 35px;
  height: 35px;
}
.icon-hover {
  display: none;
}

.navbar a:hover .icon-default,
.navbar a:active .icon-default {
  display: none;
}

.navbar a:hover .icon-hover,
.navbar a:active .icon-hover {
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  .navbar a::before {
    backdrop-filter: brightness(0) opacity(0.5);
  }
}

.navbar a:hover {
  color: var(--primary-bg-color);
}
.navbar a:hover::before {
  bottom: 0;
}

.navbar a span {
  color: var(--text-color);
  position: relative;
  transition: font-weight 0.15s ease-in-out;
}

.navbar a:hover span {
  color: var(--primary-bg-color);
  font-weight: 700;
}

/* Logo */
.logo {
  float: left;
  width: 50px;
  height: auto;
  display: block;
  position: fixed;
  top: 35px;
  left: 35px;
  z-index: 10;
  pointer-events: none;
}

@media (max-width: 800px) {
  .logo {
    display: none;
  }
}
.logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* Content */
.content {
  margin: 20px;
  border-radius: 25px;
  border-style: solid;
  border-color: #33ff00; /* Dev outline */
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1.5s ease-in-out forwards;
}

@media (max-width: 800px) {
  .content {
    margin: 20px 0px 75px 0px;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 1.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Button */
.btn {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  width: auto;
  height: 50px;
  background-color: var(--accent-color3);
  transition: background-color 0.25s ease-in-out, font-weight 0.25s ease-in-out,
    font-size 0.25s ease-in-out;
  text-decoration: none;
  color: #000000 !important;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  padding: 0 20px;
  line-height: 50px; /* Ensures text stays vertically centered */
}
.btn:hover {
  background-color: var(--accent-color2);
  font-weight: 700;
  font-size: 16px;
}
