body {
  margin: 0px 0px 20px 0px;
  background-color: #f05a3f;
  font-family: Parkinsans, sans-serif;
  font-size: 12pt;
}
h1 {
  text-align: center;
  color: #111;
  font-weight: bold;
}

p {
  color: #222;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-align: center;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(34, 34, 34, 0.16);
  transition: backdrop-filter 0.2 ease-in-out;
  z-index: 1000;
}

.navbar a {
  width: 100%;
  float: right;
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  backdrop-filter: brightness(10) opacity(0.5);
  color: black;
  font-weight: bold;
}

/* Floating logo sub pages */
.logo {
    float: left;
      width: 50px;
      height: 50px;
      display: block;
        position: fixed;
      ;
    }
    
    .content {
      padding: 16px;
      margin-bottom: 30px;
    border-style: solid;
      border-color: red;
    